.curseclient
.mixin.out/*
config/*
crash-reports/*
customnpcs
dark roleplay/*
fonts/*
journeymap/*
llibrary/*
logs/*
minecraftinstance.json
!/*/options.txt
optionsof.txt
saves/*
usercache.json
usernamecache.json
shaderpacks/*